---
# tasks file for roles/brew
- name: Install homebrew package
  community.general.homebrew:
    name: "{{ item }}"
    state: present
    update_homebrew: true
  environment:
    PATH: "{{ additional_path }}:{{ ansible_facts.env.PATH }}"
  loop: "{{ brew.package }}"
  when: brew.package is iterable
  tags:
    - brew

- name: Install homebrew cask package
  community.general.homebrew_cask:
    name: "{{ item }}"
    state: present
  loop: "{{ brew.cask }}"
  when:
    - ansible_os_family == 'Darwin'
    - brew.cask is defined
    - brew.cask is iterable
  tags:
    - brew
