BIND_ADDR=127.0.0.1:26128
VALKEY_URL=redis://127.0.0.1:51032/1
VALKEY_KEY_PREFIX=hasu-music-quiz:
FRONTEND_ORIGINS=https://hasu-music-quiz.aileafmura.com
NEW_RELIC_LICENSE_KEY={{ hasu_music_quiz_new_relic_license_key }}
NEW_RELIC_SERVICE_NAME=hasu-music-quiz-backend
HOST_NAME={{ ansible_hostname | default(inventory_hostname) }}
