---
# Play 1: User tools provisioning
- name: User tools provisioning
  hosts: develop_macOS
  roles:
    - role: brew
      tags: brew
    - role: bitwarden
      tags: bitwarden
    - role: gh
      tags: gh
  tags: develop_macOS

# Play 2: User environment setup
- name: User environment setup
  hosts: develop_macOS
  tasks:
    - name: Import symlink tasks
      ansible.builtin.import_tasks:
        file: tasks/common/symlink.yml
      tags: [develop_configuration, symlink]

    - name: Import ssh tasks
      ansible.builtin.import_tasks:
        file: tasks/common/ssh.yml
      tags: [develop_configuration, ssh]

    - name: Import zprezto tasks
      ansible.builtin.import_tasks:
        file: tasks/common/zprezto.yml
      tags: [develop_configuration, zprezto]

    - name: Import fish tasks
      ansible.builtin.import_tasks:
        file: tasks/develop_macOS/fish.yml
      tags: [develop_configuration, fish]

    - name: Import rustup tasks
      ansible.builtin.import_tasks:
        file: tasks/common/rustup.yml
      tags: [develop_configuration, rustup]

    - name: Import tmux tasks
      ansible.builtin.import_tasks:
        file: tasks/common/tmux.yml
      tags: [develop_configuration, tmux]

    - name: Import macos_defaults tasks
      ansible.builtin.import_tasks:
        file: tasks/develop_macOS/macos_defaults.yml
      tags: [develop_configuration, macos_defaults]

    - name: Import mas tasks
      ansible.builtin.import_tasks:
        file: tasks/develop_macOS/mas.yml
      tags: [develop_configuration, mas]
  tags:
    - develop_configuration
