---
# Play 1: Provisioning
- name: Provisioning
  hosts: develop_windows
  roles:
    - chocolatey
    - scoop
    - winget
    - bitwarden
    - gh
    # - wsl
  tags: develop_windows

# Play 2: User environment setup
- name: User environment setup
  hosts: develop_windows
  tasks:
    - import_tasks: tasks/develop_windows/symlink.yml
      tags:
        - develop_configuration
        - symlink

    - import_tasks: tasks/develop_windows/ssh.yml
      tags:
        - develop_configuration
        - ssh

    - import_tasks: tasks/develop_windows/msys2.yml
      tags:
        - develop_configuration
        - msys2
  tags:
    - develop_configuration

# Play 3: Fonts setup
- name: Setup fonts
  hosts: develop_windows
  tasks:
    - name: Ensure fonts dir is exists
      ansible.windows.win_file:
        path: "{{ fonts.dir }}"
        state: directory
      tags:
        - develop_configuration
        - fonts

    - name: Download fonts without install
      ansible.windows.win_get_url:
        url: "{{ item.url }}"
        dest: "{{ item.dest }}"
      loop: "{{ fonts.fonts }}"
      tags:
        - develop_configuration
        - fonts

# Play 4: Windows optional features
- name: Enable windows optional features
  hosts: develop_windows
  tasks:
    - name: Enable windows optional features
      ansible.windows.win_optional_feature:
        name: "{{ optional_feature.features }}"
        state: present
      register: win_optional_feature_status
      tags:
        - develop_configuration
        - optional_feature

    - name: Reboot if installing feature requires it
      ansible.windows.win_reboot:
      when: win_optional_feature_status.reboot_required
      tags:
        - develop_configuration
        - optional_feature
